.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.form{
    position: relative;
    top: 100px;
    padding: 50px 20px;
    border-radius: 10px;
    border: 2 px solid black;
}
label{
    font-weight: bold;
    width: 100px;
    display: block;
    float: left;
    color: rgb(234, 11, 175);
}
input{
    background: bisque;
    outline: none;
    border: rgb(234, 11, 175);
    padding: 5px;
    border-radius:5px ;
    width: 300px;
    margin: 5px;
}
.login{
    justify-content: center;
    width: 500px;
    display: flex;
}
button{
    width: 100px;
}